@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'karla', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: hsl(204, 43%, 93%);
  padding: 2rem;
  display: grid;
  place-content: center;
}

ul{
  list-style: none;
}

main{
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main > article{
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main > article h2{
  color: hsl(179, 62%, 43%);
}

main > article h3{
  color: hsl(71, 73%, 54%);
}

main > article p{
  color: hsl(218, 22%, 67%);
  line-height: 1.6rem;
}

/*grid*/

main .grid{
  display: grid;
}

.grid article:first-child{
  background-color: hsl(179, 62%, 43%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid article:first-child h4{
  color: #fff;
  font-size: 1.2rem;
}

.grid article:first-child .subscription p:first-child{
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid article:first-child .subscription p:first-child span{
  color: hsla(203, 44%, 93%, 0.637);
  font-weight: 400;
  font-size: 1rem;
}

.grid article:first-child .subscription p:last-child{
  color: hsl(204, 43%, 93%);
  font-weight: 400;
}

.grid article:first-child button{
  padding: 1rem 0;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: 3px solid transparent;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.grid article:first-child button:hover{
  border: 3px solid hsl(71, 73%, 54%);
  background-color: transparent;
}

.grid article:last-child{
  padding: 2rem;
  background-color: hsl(179, 62%, 43%, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid article:last-child h4{
  color: #fff;
  font-size: 1.2rem;
}

.grid article:last-child ul{
  color: hsl(204, 43%, 93%);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px){
  main .grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid article:last-child{
    border-bottom-left-radius: 0px;
  }


  .grid article:first-child{
    border-bottom-left-radius: 10px;
  }
}

@media (min-width: 1024px){
  main{
    width: 100%;
    max-width: 650px;
  }
}